<div class="contact-container">
  <h2>Contact Me</h2>

  <div class="contact-list">
    <div class="contact-item" *ngFor="let contact of contacts">
      <a *ngIf="contact.link" [href]="contact.link" target="_blank" rel="noopener noreferrer" class="contact-link">
        <mat-icon aria-hidden="true">{{ contact.icon }}</mat-icon>
        <span class="contact-label">{{ contact.label }}</span>
      </a>

      <div *ngIf="!contact.link" class="email-display">
        <mat-icon aria-hidden="true">{{ contact.icon }}</mat-icon>
        <span class="contact-label">{{ contact.label }}</span>
      </div>
    </div>
  </div>
</div>

<div class="thank-you-message">
  <p>Gracias por pasar 👽</p>
</div>
