.contact-container {
  text-align: center;
  padding: 2em 1em 3em;
  margin: 4em auto 3em;
  width: 60%;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.contact-container h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
  font-weight: 600;
}

.contact-list {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-link,
.email-display {
  display: flex;
  align-items: center;
  gap: 0.6em;
  text-decoration: none;
  font-size: 1.05rem;
  transition: transform 0.2s ease;
  color: inherit;
}

.contact-link:hover {
  transform: translateY(-2px);
}

.email-display {
  color: #5c516d Imp !important;
}

mat-icon {
  font-size: 1.6em;

}

.contact-label {
  white-space: nowrap;
}

.contact-link:hover{
    color: var(--primary-color);
}

/* Gracias por pasar */
.thank-you-message {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.thank-you-message p {
  font-size: 1rem;
  opacity: 0.9;
}

/* Para tablets y móviles medianos */
@media screen and (max-width: 768px) {
  .contact-container {
    padding: 0.5em 1em;
  }

  .contact-list {
    flex-direction: flex;
    align-items: center;
    gap: 1.5em;
  }

  .contact-link,
  .email-display {
    font-size: 1.1em;
  }

  .thank-you-message {
    font-size: 1.1em;
    margin-bottom: 2em;
  }
}

/* Para móviles pequeños */
@media screen and (max-width: 480px) {
  .contact-container {
    padding: 1.5em 1em;
  }

  .contact-link,
  .email-display {
    font-size: 1em;
    gap: 0.5em;
  }

  .thank-you-message {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
