mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.toolbar-left button {
  padding: 0;
}

.toolbar-left img {
  height: 2.2em;
  border-radius: 10px;
  border-top: 1px solid rgb(108, 85, 236);
  border-bottom: 1px solid rgb(108, 85, 236);
  cursor: pointer;
}

.toolbar-right {
  display: flex;
  gap: 2em;
}

.toolbar-right button {
  color: rgb(181, 174, 223);
  font-size: 0.74em;
  font-weight: 600;
  font-style: italic;
  background: transparent;
  border: none;
  cursor: pointer;
}

div .cv-button {
  border: 1px solid rgb(181, 174, 223);;
}

.translucent {
  background: rgba(34, 40, 49, 0.5);
  /* color con transparencia */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);
  /* soporte para Safari */
}