<mat-toolbar class="translucent">
  <button mat-icon-button (click)="toggleSidenav()" class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Botón de CV siempre visible -->
  <button mat-button id="cv-button" class="cv-button">CV</button>

  <!-- Botones de navegación solo visibles en escritorio -->
  <div class="toolbar-right">
    <button mat-button (click)="onClick('home')">Home</button>
    <button mat-button (click)="onClick('projects')">Projects</button>
    <button mat-button (click)="onClick('experience')">Experience</button>
    <button mat-button (click)="onClick('about')">About Me</button>
    <button mat-button (click)="onClick('contact')">Contact</button>
  </div>

  <div class="toolbar-movil">
    <button mat-button id="cv-button-mv" class="cv-button-movil">CV</button>
    <button class="toggle-button" (click)="toggleDarkMode()">
      <i class="fa-solid fa-palette"></i>
    </button>
  </div>
</mat-toolbar>

<!-- Contenedor del menú lateral (visible solo en móvil) -->
<mat-sidenav-container class="mobile-sidenav-container" #sidenavContainer>
  <mat-sidenav #sidenav class="mobile-sidenav" mode="over" opened>
    <mat-nav-list>
      <a mat-list-item (click)="onClick('home'); sidenav.close()">Home</a>
      <a mat-list-item (click)="onClick('projects'); sidenav.close()">Projects</a>
      <a mat-list-item (click)="onClick('experience'); sidenav.close()">Experience</a>
      <a mat-list-item (click)="onClick('about'); sidenav.close()">About Me</a>
      <a mat-list-item (click)="onClick('contact'); sidenav.close()">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
