<mat-toolbar class="translucent">

  <div class="toolbar-left" (click)="onClick('home')">
    <img src="/LogoGGp.png" alt="Foto de perfil"  />
  </div>

  <div class="toolbar-right">
    <button mat-button (click)="onClick('home')">Home</button>
    <button mat-button (click)="onClick('projects')">Projects</button>
    <button mat-button (click)="onClick('experience')">Experience</button>
    <button mat-button (click)="onClick('about')">About Me</button>
    <button mat-button (click)="onClick('contact')">Contact</button>
    <button mat-button class="cv-button">CV</button>
  </div>

</mat-toolbar>