<mat-toolbar class="translucent">

  <!-- Botón de CV siempre visible -->
  <button mat-button id="cv-button" class="cv-button">CV</button>

  <!-- Botones de navegación solo visibles en escritorio -->
  <div class="toolbar-right">
    <button mat-button (click)="onClick('home')">Home</button>
    <button mat-button (click)="onClick('projects')">Projects</button>
    <button mat-button class="bt-movil-hide" (click)="onClick('experience')">Experience</button>
    <button mat-button class="bt-movil-hide" (click)="onClick('about')">About Me</button>
    <button mat-button (click)="onClick('contact')">Contact</button>
  </div>

  <div class="toolbar-movil">
    <button mat-button id="cv-button-mv" class="cv-button-movil">CV</button>
    <button class="toggle-button" (click)="toggleDarkMode()">
      <i class="fa-solid fa-palette"></i>
    </button>
  </div>
</mat-toolbar>

