.toolbar-right {
  display: flex;
  gap: 1.2em;
  padding-right: 0.5em;
}


.toolbar-right button {
  font-size: 0.78em !important;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: inherit !important;

}

.button-container {
  margin-left: 1em !important;

}

.cv-button {
  border: 1px solid #b8adc7;
  color: inherit !important;
  font-size: 0.78em !important;
  margin-top: 0.1em;
}

.cv-button-movil {
  color: inherit !important;
  font-size: 0.78em !important;
  display: none;
}

.cv-button:hover,
.toolbar-right button:hover {
  background-color: var(--bg-hover-color);
}


.toggle-button {
  border-radius: 20px;
  border: none;
  color: inherit !important;
  font-size: 0.78em !important;
  background: none;
  cursor: pointer;
  margin-right: 1em;
  border-radius: 20px;
}

.toggle-button i {
  font-size: 1.3em;
  margin-top: 0.1em;
  border-radius: 20px;
}

.toggle-button:hover {
  background-color: inherit;
  border-radius: 20px;
}

/* Menu hamburguesa */

/* Toolbar layout */
.toolbar-right {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}


/* Oculta los botones del menú de navegación en pantallas chicas */
.toolbar-right {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

/* Botón del menú hamburguesa solo en móviles */
.mobile-menu-button {
  display: none;
}



/* --- Media Queries para la Toolbar --- */

/* Para pantallas pequeñas (smartphones, hasta 768px de ancho) */
@media (max-width: 768px) {
  mat-toolbar {
    height: 56px;
    /* Ajusta la altura de la toolbar */
    padding: 0 16px;
    /* Reduce el padding lateral */
  }

  .cv-button {
    font-size: 14px;
    /* Un poco más pequeño si es necesario */
    padding: 0 12px;
    /* Ajusta el padding para el botón CV */
  }

}

/* Para tablets o pantallas medianas (entre 769px y 1024px de ancho) */
@media (min-width: 769px) and (max-width: 1024px) {
  mat-toolbar {
    padding: 0 24px;
    /* Un poco más de padding lateral */
  }

  .toolbar-right {
    gap: 12px;
    /* Espacio entre los botones de navegación */
  }

  .toolbar-right button.mat-button {
    font-size: 15px;
    /* Ajusta el tamaño de la fuente de los botones */
  }
}

/* Para pantallas grandes (desktops, a partir de 1025px de ancho) */
@media (min-width: 1025px) {
  mat-toolbar {
    padding: 0 32px;
    /* Más padding lateral para pantallas grandes */
  }

  .toolbar-right {
    gap: 16px;
    /* Más espacio entre los botones */
  }

  .toolbar-right button.mat-button {
    font-size: 16px;
    /* Ajusta el tamaño de la fuente de los botones */
  }
}

/* Ocultar botones toolbar-right en móvil */
@media (max-width: 768px) {
  .toolbar-right {
    justify-content: left;
    width: 100%;
    /* que ocupe todo el ancho para poder centrar */
    padding-right: 0px;
    /* sin padding a la derecha */
    padding-left: 0.3em;
  }

  .cv-button {
    display: none;
  }

  .cv-button-movil {
    display: inline;
  }

  .a-cv-button {
    text-decoration: none;
    color: var(--text-color);
    border-radius: 40px;
  }

  .a-cv-button:hover {
    background-color: var(--bg-hover-color);
  }


  .bt-movil-hide {
    display: none;

  }

  .toolbar-movil {
    display: flex;
    gap: 0.4em;
    padding-right: 0.3em;
    padding-top: 0.1em;
  }
}


/* Mostrar correctamente el menú en tablets y desktop */
@media (min-width: 769px) {
  .mobile-sidenav-container {
    display: none;
  }
}