<div class="project-wrapper">

    <h4 class="project-title">Experience</h4>

    <mat-grid-list cols="4" class="experience-container">

        <div class="experience">
            Throughout my journey as a Systems Analyst, I have focused on developing functional applications that
            simulate real-world production environments. My core expertise lies in the .NET ecosystem and modern
            Frontend architectures.
            Core Stack: C# (.NET), SQL Server, React, and Angular.
            Technical Focus: Developing RESTful APIs, managing relational databases, and building dynamic, responsive
            user interfaces.
            "My projects are more than just academic exercises; they are proof of my ability to transform logical
            requirements into efficient code and real-world software solutions."
        </div>


    </mat-grid-list>
</div>