.project-wrapper {
    padding: 2em 2em;
    text-align: center;
}

.project-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 3em;
}


.experience-container {
    width: 75%;
    margin: auto;
    display: flex;
    border-radius: 10px;
    border-top: 2px solid rgba(181, 174, 223, 0.4);
    border-bottom: 2px solid rgba(181, 174, 223, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}


.experience-container:hover {
    transform: scale(1.01);
    border-color: rgba(161, 53, 255, 0.6);
}

.experience {
    justify-content: center;
    text-align: left;
    font-size: 1.8em;
    padding: 2em;

}