<div class="project-wrapper">

    <h4 class="project-title">Experience</h4>

    <mat-grid-list cols="4" class="experience-container">
        
            <div class="experience">
                As a freelance developer, I've had the opportunity to work on a 
                complete e-commerce platform using React and Strapi for a family business,
                which included Mercado Pago integration. Additionally, 
                I collaborated with other programmers on the Gamingood project,
                 a video game forum, where I applied my web development knowledge 
                 within a collaborative work environment.
            </div>
        
        
    </mat-grid-list>
</div>