<div class="project-wrapper">

    <h4 class="project-title">About me</h4>
    
    
    <mat-grid-list cols="4" class="experience-container">
        
        <div class="experience">
            From an early age, the world of technology and trades has been my main interest.
            I have worked in administrative and healthcare settings for over a decade,
            developing a solid foundation in emergency management and administrative support.
            My strong focus and frequent reading habits are key pillars that complement my professional profile.
            These qualities, which I believe set me apart from the often distracted tendencies of younger generations,
            are reflected in my academic background in Systems Analysis and Naval Commissary.
            In fact, my curiosity constantly drives me to explore new areas, as evidenced by my current participation
            in an archdiocesan course, motivated by personal interest.
        </div>
        <!-- 
        <div style="display: flex; justify-content: center;">
            <img src="/admin-ajax.webp" alt="Foto de perfil" class="imagen">

        </div>
         -->

    </mat-grid-list>
</div>