.project-wrapper {
    padding: 2em 2em;
    text-align: center;
}

.project-title {
    font-size: 2em;
    font-weight: bold;
    color: rgb(201, 195, 236);
    font-family: 'Playfair Display', serif;
    
    margin-top: 3em;
}


.experience-container {
    width: 75%;
    margin: auto;
    border-radius: 10px;    
}


.experience {
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Lucida Sans';
    color: rgb(181, 174, 223);
    padding: 2em;
    padding-top: 0px;

}

.imagen {
    height: 370px;
    text-align: center;
    border-radius: 5px;
}