<div class="project-wrapper">

    <h4 class="project-title">About me</h4>


    <div cols="4" class="experience-container">

        <div class="experience">
            I am a professional passionate about problem-solving and continuous improvement. My journey began in
            Corrientes and led me through the National Nautical School, where I developed a mindset of discipline,
            organization, and adaptability under high-pressure standards.
            Following a solid 10-year career in administrative management, I decided to pivot my analytical skills
            toward the technology sector. In 2024, I graduated as a Systems Analyst from ISTEA, solidifying my technical
            foundation.
            I am driven by building robust and scalable solutions. I am a lifelong learner: if there is something I
            don’t know, I master it and implement it.
        </div>
        <!-- 
        <div style="display: flex; justify-content: center;">
            <img src="/admin-ajax.webp" alt="Foto de perfil" class="imagen">

        </div>
         -->

    </div>
</div>