.container {
  width: 65%;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  display: grid;
  row-gap: 80px;
  
}


.profile-header {
  display: flex;
  align-items: center;
  margin-top: 1.9em;
  text-align: left;       /* Texto alineado a la izquierda dentro del bloque */
  justify-content: center; /* Centra la imagen + texto como conjunto */
  gap: 40px;              /* Separación entre imagen y texto */
}

.profile-header-text { 
  text-align: left; /* El texto dentro alineado a la izquierda */
}


/* Ajuste del contenedor de la imagen */
.profile-main {
  flex-shrink: 0; /* Evita que la imagen se reduzca */
  display: flex;
  justify-content: center;
  align-items: center;  
}


.profile-header h2 {
  font-size: 4.2rem;
  font-weight: bold;
  margin: 0;
}

.profile-header h3, span {
  font-size: 2.5rem;
  font-weight: 600;  
  margin: 14px 0 0;

}

.profile-photo {
  width: 240px;
  height: 240px;
  border-radius: 60px;
  object-fit: cover;
  border: 3px solid #ece6f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




/* ---- tech Section ----- */
.tech-section {
  grid-column: 1 / -1;
  
}

.tech-title {
  font-size: 1.5rem;
  color: #5a4b71;
  margin-bottom: 20px;
  font-weight: 700;
}


.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.tech-card {
  padding: 10px 20px;
  background-color: #fff;
  color: #5a4b71;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 1rem;
  transition: transform 0.2s ease;
}

.tech-card:hover {
  transform: scale(1.05);
}