<div class="container">
  <div class="profile-header">

    <div class="profile-main">
      <div class="profile-photo-wrapper">
        <img src="/fondo4g.jpeg" alt="Foto de perfil" class="profile-photo" />
      </div>
    </div>
    <div class="profile-header-text">
      <span>Hi, I'm</span>
      <h2>Guillermo Godoy</h2>
      <h3>Systems Analyst</h3>
      <h3>Desarrollador de automatizaciones</h3>
    </div>

  </div>
  <div class="profile-photo-mobile">
    <img src="/fondo4g.jpeg" alt="Foto de perfil" class="profile-photo-mb" />
  </div>

  <!-- Tech Section -->
  <div class="tech-section">
    <h4 class="tech-title">Development Stack</h4>

    <div class="tech-container">
      <div class="tech-card" *ngFor="let tech of technologies">
        {{ tech.name }}
      </div>
    </div>
  </div>

</div>