.tile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1em;
}

.tile-content h2,
.tile-content h3 {
    margin: 0.2em 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(201, 195, 236);
    text-shadow: rgb(181, 174, 223) -0.5px -0.5px 3.3px, rgb(119, 144, 148) 0px 0px 0.3px;
}

.tile-content h2 {
    font-size: 3.5em;
}

.tile-content h3 {
    font-size: 2.5em;
}

.imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgba(181, 174, 223, 0.4);
    box-shadow: 0 0 8px rgba(181, 174, 223, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}


.imagen:hover {
    transform: scale(1.03);
    border-color: rgb(181, 174, 223);
    box-shadow: 0 0 15px rgba(136, 0, 255, 0.6);
}


/* ----------- Development Stack ----------- */

.tech-title {
  font-size: 2em;
  font-weight: bold;
  color: rgb(201, 195, 236);
  margin-bottom: 1em;
  font-family: 'Playfair Display', serif;

}


.lan-card {    
    width: 100%;
    min-height: 10em;
    height: auto;        
}


.tech-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1em;
  margin: 2em auto;
  max-width: 800px;
  text-align: center;
}

.tech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.tech-card {
  background-color: rgba(255, 255, 255, 0.08);
  color: #d3dce6;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
}

.tech-card:hover {
  transform: scale(1.05);
}

