<mat-grid-list cols="4" rowHeight="3:2" style="width: 75%; display: flex; margin: auto;">

    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <img src="/fondo4g.jpeg" alt="Foto de perfil" class="imagen">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <div class="tile-content">
            <h2>Guillermo Godoy</h2>
            <h3>Systems Analyst</h3>
        </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="4" [rowspan]="1" class="lan-card" >
        <div class="tech-wrapper" >
            <h4 class="tech-title">Development Stack</h4>
            <div class="tech-container">
                <mat-card *ngFor="let tech of technologies" class="tech-card">
                    <mat-card-content>
                        {{ tech.name }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </mat-grid-tile>


</mat-grid-list>