/* General */
html,
body {
  height: 100%;
   margin: 0;
  padding: 0;
  overflow-x: hidden; /* Opcional, evita desbordes horizontales */
}

a {
  color: var(--accent-color);
}


/* Tema claro */
.light-theme {

  --bg-color: #ece6f0;
  --bg-color-card: #f1eaf5;
  --text-color: #5c516d;
  --text-color-toolbar: #77688d;
  --accent-color: #5a3554;
  --bg-hover-color: #f1ddfc;


  /* de las etiquetas a */

  --bg-color-r: 236;
  --bg-color-g: 230;
  --bg-color-b: 240;


  --primary-color: #1976d2;
  /* Material Blue 700 */
  /* Material Blue 300 */
  /* Cyan 500 */
  --border-color: #e0e0e0;
}


/* Tema oscuro */
.dark-theme {
  --bg-color: #121218;
  --bg-color-card: #1d1d26;
  --text-color: #c2b7df;
  --text-color-toolbar: #c2b7df;
  --accent-color: #90caf9;
  --bg-hover-color: #2b2b3b;


  --bg-color-r: 18;
  --bg-color-g: 18;
  --bg-color-b: 24;

  --primary-color: #3ea6ff;
  --border-color: #3a3844;
  --bg-card-color: #1a1a22;

}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.5) !important;
  backdrop-filter: blur(4px);
  /* Mantén tu efecto de desenfoque */
  -webkit-backdrop-filter: blur(4px);
  color: var(--text-color-toolbar) !important;
}

.tech-card {
  background-color: var(--bg-color-card);
}

/* Project component */
.project-card {
  background-color: var(--bg-color-card) !important;
  /* color: red !important; */
}

.experience-container {
  background-color: var(--bg-color-card);
}

/* Pseudo-elemento para animación de resplandor */
.profile-photo-wrapper {
  position: relative;
  width: 280px;
  height: 275px;
  border-radius: 50px;
  display: inline-block;
  z-index: 10;
}

.profile-photo {
  width: 100%;
  height: 100%;
  border-radius: 70px;
  object-fit: cover;
  border: 0.2em solid var(--border-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  display: block;
  position: relative;
  z-index: 20;
}

button .mat-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}